@{
    ViewData["Title"] = "Home Page";
}

<div ng-app="WorldDataBankApp" id="myCarousel" ng-controller="CountryController as ctrl" 
     class="carousel slide" data-ride="carousel" data-interval="6000">
    <p>
        If you are seeing answer of below calculation AngularJs works in your machine.
        <br />3 + 4 = {{3 + 4}}
    </p>
    <div class="col-md-8">
        <h2>Country details</h2>
        <div ng-repeat="country in ctrl.Countries">
            Country Name : {{country.Name}}, Currency : {{country.Currency}}
        </div>

    </div>
</div>